@font-face 
    font-family: 'FuturaBookC' 
    src: url('./assets/FuturaBookC Regular.otf')
    
body 
    background-color: #252525
* 
    margin: 0
    padding: 0
a
    text-decoration: none
    
ul 
    list-style: none
h1
    opacity: 0
    font-size: 0
.header 
    position: relative
    max-width: 1440px
    height: 790px
    font-family: FuturaBookC
    margin: 0 auto  
    background: black url('assets/group7.png') no-repeat
    background-position: right bottom    
    nav 
        height: 83px
        background-color: black
        .nav-ul 
            display: flex
            justify-content: space-around
            width: 85%
            height: 100%
            margin: auto
    .instagram
        background-color: black
        color: #e3b873
        transform: rotate(90deg)
        text-align: center
        max-width: 50%
        position: relative
        left: -22%
        top: 40%
        font-size: 12px
    .text-buttons-block
        width: 45%
        height: 40%
        margin: 15%  
        & p:first-child
            font-family: Yeseva One
            font-style: normal
            font-weight: normal
            font-size: 40px
            line-height: 53px
            text-transform: uppercase
            color: white
            & span
                color: #e3b873
        & p:nth-child(2)
            font-family: FuturaBookC
            font-size: 18px
            line-height: 150%
            color: white
       
.calc
    margin-top: 20px
    background-color: #e3b873
    height: 50px
    border: none
    color: white
    width: 33%
    margin-right: 2%

.submit
    margin-top: 20px
    border: 1px solid white 
    height: 50px
    color: white
    background-color: transparent 
    width: 33%       

.items 
    font-size: 11px
    text-transform: uppercase
    align-self: center
    & a 
        color: white
    
    &:first-child a, &:nth-child(2) a 
        color: #e3b873 
    &:nth-last-of-type(2) a        
        color: #e3b873 
        text-decoration: underline      
    &:last-child a
        background-color:#e3b873
        color: white
        padding: 10px 15px
        
.main
    max-width: 1440px
    margin: 0 auto
    .online-control
        height: 1074px
        background: black url('assets/group1.jpg')
    .cities
        width: 40%
        display: flex
        justify-content: space-between
        padding-top: 60px
        margin-left: 42%
    .city
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.3)
        font-size: 12px
        line-height: 200%
        &:first-child
            text-decoration: underline
            color: #E3B873

.projects-wrapper
    display: flex
    justify-content: flex-end
    margin-top: 5%

.projects
    width: 27%
    margin-right: 20px
    & p:first-child
        font-family: Yeseva One
        font-size: 27px
        line-height: 37px
        letter-spacing: -0.07em
        text-transform: uppercase
        color: #E3B873
        margin: 20px 0
    & p:nth-child(2)
        font-family: FuturaBookC
        font-size: 16px
        line-height: 29px
        color: #FFFFFF
        margin-bottom: 20px

.city-container
    display: flex
    flex-wrap: wrap  
    & .parts
        width: 49%
        flex-grow: 1
        & .heads
            font-family: Yeseva One
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 25px
            text-transform: uppercase
            color: #E3B873                
        & .text
            font-family: FuturaBookC
            font-size: 14px
            line-height: 20px
            color: #FFFFFF    

.carousel img:first-child
    margin: 0 20px  

.camera 
    margin: 5% auto 3%
    & p
        font-family: Yeseva One
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 28px
        text-align: center
        text-transform: uppercase
        color: #FFFFFF
    & img 
        margin: 10px auto 0
        display: block  

.video
    margin: 0 auto  
    & img 
       margin: 0 auto
       display: block 

.lines
    height: 2600px 
    background: white url("assets/lines.png")   
    background-position: center bottom 
    & p:first-child
        color: #E3B873
        font-weight: bold
        width: 50%
        padding-top: 235px
        margin: 0 auto
        text-align: center  

.line-text
    font-family: 'FuturaBookC', serif
    font-size: 20px
    line-height: 34px
    width: 50%
    padding-top: 20px
    margin: 0 auto
    text-align: center
    color: #363636    

.form1
    display: flex
    width: 50%
    margin: 20px auto   
    justify-content: space-between
    & .name-form p:first-child, & .phone-form p:first-child
        color: rgba(54, 54, 54, 0.5)
        text-align: left
        padding: 10px 0
        margin: 20px 0 0
        font-size: 10px
    & .submit-form p
        padding: 0
        margin-top: 19px    
    & .name-form p:last-child, & .phone-form p:last-child
       color: rgba(54, 54, 54, 0.5) 
    & .submit-form
        background-color: #E3B873
        width: 30%
        height: 50px
        margin-top: 35px
        & p 
            color: white   
            
.form1-check
    width: 40%
    margin: 0 auto 
    padding-top: 10px
    text-align: center   
    & input
        visibility: hidden        
    & input::before
        content: " ✓ "
        color: white
        border: 2px solid #E3B873
        visibility: visible
        background-color: #E3B873 

.repair
    width: 30% 
    margin: 10% auto 10px
    text-align: center
    & p.types   
        font-size: 22px
        color: black
        padding-top: 0    

.three-rooms
    max-width: 1236px
    height: 608px  
    display: flex     
    margin: 0 auto
    justify-content: space-between 

.card
    & .card-text
        position: relative
        background-color: white
        width: 80%
        margin: 0 auto
        bottom: 20%
        z-index: 3
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
        & .card-name
            padding-top: 10px
            font-size: 18px
            line-height: 25px
            color: black
            text-align: left
            margin: 25px 0 20px 25px
            font-family: 'Yeseva One', cursive
            font-style: normal
            font-weight: normal
        & ul 
            list-style: disc
            margin-left: 35px   
        & li 
            font-family: FuturaBookC
            font-size: 15px
            line-height: 25px
            color: #959595
        & .card-price
            font-family: Yeseva One
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 25px
            text-transform: uppercase
            color: #FFF
            z-index: 5
            background-color: #E3B873
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
            padding: 16px
            position: relative
            top: 20px

.form-block
    margin-top: 100px            
.form2
    display: inline-block
    min-width: 500px
    min-height: 500px
    background-color: black

    & p 
        color: white
        font-size: 20px
        line-height: 25px
        text-align: center
        font-family: 'FuturaBookC', serif
    & span 
        color: white
    & input[type='text']
        background-color: transparent
        display: block
        width: 80%
        text-align: left
        height: 40px
        padding: 30px 10px 10px
        margin: 0 auto
        border: 1px solid black
        border-bottom: 1px solid rgba(255, 255, 255, 0.5) 
        color: #fff




@media screen and ( max-width: 375px  )
    header
        max-width: 375px
        height: 496px
        background: black url("assets/mobOne.jpg")no-repeat
        background-position: center bottom
        nav 
            height: 20px
            .nav-ul
                display: none
            .nav-ul:not(:nth-child(8)):not(:first-child) 
                display: inline-block  